<p id="notice"><%= notice %></p>
<h1>Page Parameters</h1>
<p>
  <strong>Name:</strong>
  <%= @page.name %>
</p>

<p>
  <strong>Default Amount:</strong>
  <%= @page.default_amount %>
</p>

<p>
  <strong>Allow Custom Amount:</strong>
  <%= @page.custom_amount %>
</p>

<p>
  <strong>Accept Credit Cards:</strong>
  <%= @page.card %>
</p>

<p>
  <strong>Accept ACH:</strong>
  <%= @page.ach %>
</p>

<p>
  <strong>Recurring Payment?:</strong>
  <%= @page.recurring %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Home', root_path %>
